<div class="navbar" id="navbar" >
        <button class="active" ng-click="home()"><i class="fa fa-fw fa-home"></i> Home</button> 
        <button ng-click="showAnother()"><i class="fa fa-fw fa-search"></i> ShowAnother</button> 
        <button ng-click="showContacts()"><i class="fa fa-fw fa-envelope"></i> Contact</button> 
        <button ng-click="logout()"><i class="fa fa-fw fa-user"></i> Logout</button>

      </div>
<div>{{name}}</div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
      <link rel="stylesheet" href="app/directive/navbar.css" >

    