
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar button{
  float: left;
  padding: 12px;
  color:rgb(231, 120, 40);
  text-decoration: none;
  font-size: 17px;
}

.navbar button:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar button {
    float: none;
    display: block;
  }
}
.hideClass{
    display: none;
}