
<my-Dir ></my-Dir>
<!-- <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script> -->
        <h1>Home Page Works</h1>
<p>Type something in the input field to search the table for names</p>  
<input class="form-control" ng-model="myInput" ng-keyup="home.search()" type="text" placeholder="Search..">
<br>

<table class="table table-hover">
    <tr>
<th>Id</th>
<th>Name</th>
<th>Age</th>
<th>Email</th>
<th>phone</th>
</tr>
<tbody id="myTable">
<tr ng-repeat='x in newData'>
    <td>{{x._id}}</td>
<td>{{x.name}}</td>
<td>{{x.age}}</td>
<td>{{x.email}}</td>
<td>{{x.phone}}</td>
</tr>

</tbody>
</table>
